<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
        <%= image_tag @user.image_url(:thumb).to_s %>
      </h1>
    </section>
  </aside>
</div>