<div>
  <%= link_to image_tag("avicii_logo.png", alt: "Весна", class: "img-logo"), '#' %>	
  <h1>Моя весна</h1>
  <p>
    <%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
    <%= link_to "Моя весна", '#', id: "logo" %>
  </p>
</div>  
